---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Avenir', Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 100;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.4;

$spacing-unit:     30px;

$text-color:       #232323;
$background-color: #F8F6F6;
$brand-color:      #4F557F;
$line-color:    #8387A2;

$white: #fff;
$grey-color:       #F8F6F6;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

h1 {
  font-style: italic;
}

h2 {
  color: $brand-color;
  font-weight: bold;
  border-bottom: solid 3px $brand-color;
}

p {
  line-height: 155%;
}

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)

@import
    'base',
		'grid',
		'layout',
		'syntax-highlighting'
;

//Mobile Nav
.mobileheadline {
  background-color: $grey-color;
  h1, h4 {
    color: $brand-color;
  }
}
.site-header {
    position: fixed;
    width: 80%;
    top: 0;
    left: 10%;
    border-radius: 0px 0px 4px 4px;
    margin: auto;
	  text-align: center;
    display: block;
    z-index: 3;
	  background-color: $brand-color;
    &:hover {
        .trigger {
            display: block;
        }
    }
    p {
        color: $background-color;
        margin: 10px 0px 10px 0px;
    }
	a {
		display: block;
        font-weight: 300;
        color: white;
        margin-bottom: 0.5em;
            &:hover {
        background-color: darken($brand-color, 15%);
        }
	}
    .trigger {
        z-index: 1;
        margin-bottom: 1em;
        display: none;
    }
}

// Hide mobile header on desktop & hide desktop header on mobile

@media only screen and (min-width: 916px) {
   .page-content {
        width: 70%;
        float: right;
    }
    .site-header {
        display: none;
    }
}

@media only screen and (max-width: 916px) {
    .left-header {
        display: none;
        width: 30%;
    }
}


// Desktop Nav

.left-header {
    background-color: $background-color;
    box-sizing: border-box;
    padding: 1em;
    width: 30%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    float: left;
    text-align: center;
        .logo-large {
            // margin-top: 1em;
            height: 130px;
            display: block;
            text-indent: -9999px;
            background: url(../images/logo_large.svg) center;
            background-size: 300px 130px;
            background-repeat: no-repeat;
        }
        .site-headline {
            h1 {
                margin-bottom: 0em;
                color: $brand-color;
            }
            h4 {
                font-size: 16px;
                padding-top: 0em;
                margin-bottom: 1em;
                color: $text-color;
            }
            border-bottom: solid 3px $brand-color;
        }
        a {
            color: $brand-color;
                &:hover {
                background-color: $white;
                text-decoration: none;
            }
        }
        .navlinks {
            .active {
                text-decoration: underline;
            }
            margin: 2em 1em;
            a {
            display: block;
            font-weight: 300;
            font-size: 20px;
            margin-top: 0.5em;
            }
        }
        .icons {
          p {
            font-size: 0.65em;
            max-width: 70%;
            margin: -20px auto 0 auto;
            color: $brand-color;
          }
          .iconwrapper {
            margin-top: 2em;
            height: 6em;
            text-align: center;

            a {
              font-size: 1.25em;
                padding: 0.5em;
                color: $brand-color;
                &:hover {
                    background-color: $background-color;
                    text-decoration: none;
                    color: $line-color;
                }
          }
          }
        }
}

//about page

.home {
    @media only screen and (max-width: 916px) {
            margin-top: 3em;
        }
    .logo-large {
        margin: auto;
        height: 190px;
        display: block;
        text-indent: -9999px;
        background: url(../images/logo_large.svg) center;
        background-size: 300px 200px;
        background-repeat: no-repeat;
        @media only screen and (min-width: 916px) {
            display: none;
        }
    }
    .site-headline {
        text-align: center;
        h1 {
            margin-bottom: 0em;
            font-weight: 300;
        }
        h4 {
            font-size: $small-font-size;
        }
        @media only screen and (min-width: 916px) {
            display: none;
        }
    }
    .subhead {
        margin-top: 2em;
        border: solid 10px $brand-color;
        border-style: double none none none;
        @media only screen and (min-width: 916px) {
            border-style: none none none none;
        }
        h2 {
            color: white;
            background: $line-color;
            font-size: 1.75em;
            margin: 1em 0em;
            border-bottom: solid 10px $grey-color;
            padding: 0.25em 0.5em;
        }
    }
    h3 {
      font-style: italic;
      font-size: 24px;
      color: $brand-color;
    }
    .aboutpic {
      height: 300px;
      width: auto;
      margin-bottom: 1em;
    }
    .aboutjpg {
        margin-bottom: 0.5em;
        display: block;
        width: 50%;
        margin-right: 1em;
    }
}

.title-wrapper {
    @media only screen and (min-width: 916px) {
            display: none;
        }
    margin-top: 3em;
    .col {
        box-sizing: border-box;
    }
    .logo-small {
        margin-top: 2em;
        margin: auto;
        height: 80px;
        display: block;
        text-indent: -9999px;
        background: url(../images/logo_large.svg) center;
        background-size: 130px 130px;
        background-repeat: no-repeat;
    }
    .site-headline {
        text-align: center;
            h1 {
                font-size: 21px;
                margin-bottom: 0em;
                font-weight: 300;
                margin-top: 0.55em;
            }
            h4 {
                font-size: $small-font-size;
            }
    }
}


// work page

.work {

    .pieces {
        float: left;
        box-sizing: border-box;
        display: inline;
    }

    .piece {
        box-sizing: border-box;
        float: left;
        display: inline;
        margin: 1em 0.5em 1em 0em;
        background-color: $grey-color;
        padding: 1em;

        img {
            -webkit-filter: grayscale(50%);
            filter: grayscale(50%);
            &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            }
          }

        a {
            color: $brand-color;
                &:hover {
                    text-decoration: none;
                      h4, h6, h5, {
                        color: $line-color;
                      }
                }
        }

        h4 {
        margin: 8px 0;
        font-weight: bold;
        }
        h5 {
            color: $text-color;
        }
        h6 {
          text-transform: uppercase;
        }


        @media screen and (max-width: 916px) {
            div {
                margin: auto;
            }
        }
    }
}

// process

.process {
    h3 {
      clear: both;
      margin-top: 1em;
    }

    .methodpics {
      margin-bottom: 1em;
    }

    .methodlist {
      li {
          font-size: 16px;
      }
    }

    .toolcontent {
      background-color: $grey-color;
      }

    .skilltoolwrapper {
      float: left;
      padding: 1em;
      margin: 1em 0.5em 1em 0em;
          img {
            height: 90px;
            margin-right: 1em;
            width: auto;
          }
          p {
            font-size: 11px;
          }
        }

        @media screen and (max-width: 650px) {
            .skilltoolwrapper{
                float: left;
                display: block;
                width: 100%;
                box-sizing: border-box;
                img {
                  max-height:125px;
                }
            }
        }

}

// contact page

.contact {
      margin-top: 2em;
      .invite {
        .illustration {
            margin: auto;
            height: 200px;
                text-indent: -9999px;
                background: url(../images/busybee.svg) center;
                background-size: 200px 200px;
                background-repeat: no-repeat;
              }
          }
      }

//footer


.site-footer {
    box-sizing: border-box;
    padding: 0.25em;
    display: block;
    background-color: $grey-color;
    padding-top: 1em;
    p {
        padding-top: 0.5em;
    }
    .footertext {
      padding-bottom: 1em;
      border-bottom: solid 3px $line-color;
    }
    .icons {
      i {
          padding: 0 1em 0 0;
          margin: auto;
      }
    }
    @media screen and (min-width: 916px) {
        display: none;
    }
}

/**
 * Case Studies
 */

 .casestudy {
    .headline {
    margin-top: 2em;
    border-bottom: solid 4px $grey-color;
    margin-bottom: 1.5em;
    }
    h1, h4 {
            color: white;
            background-color: $line-color;
            padding: 4px;
            margin-bottom: 0px;
        }
     .text {
        float: left;
     }

     .casestudypic {
       width: 100%;
        img {
          clear: both;
            margin: 1em 0;
            border: solid 4px $grey-color;
            box-sizing: border-box;
            padding: 9px;
        }
     }
}
