---
layout: page
title: work
permalink: /work/
---

{% include title.html %}

<div class = "work">
	<div class = "row">
    <div class = "col col-12">
      <div class = "subhead work">
        <h2>work</h2>
      </div>
    </div>
	</div>

  <div class = "pieces">
    <div class = "row">
      <div class = "col col-12">
        {% for page in 02_work.pages %}
            <li>

              <h2>
                <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.name }}</a>
              </h2>
            </li>
          {% endfor %}

      </div>
    </div>
  </div>

</div>