---
layout: page
title: work
permalink: /work
---

{% include title.html %}

<div class = "work">
	<div class = "row">
    <div class = "col col-12">
      <div class = "subhead work">
        <h2>work</h2>
      </div>
    </div>
	</div>

  <div class = "pieces">
    <div class = "row">
      <div class = "col col-12">
    	 <ul class="post-list">
        {% for piece in site.posts %}
            <li>
              <h2>
                <a class="post-link" href="{{ piece.url | prepend: site.baseurl }}">{{ piece.title }}</a>
              </h2>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</div>