---
layout: page
title: blog
permalink: /blog
---

{% include title.html %}

<div class = "blog">
  <div class = "row">
      <div class = "col col-12">
        <div class = "subhead toolbox">
          <h2>posts</h2>
      </div>
    </div>

	<div class = "col col-12">
      <div class = "posts">
        <ul class="post-list">
          {% for post in site.posts %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
          {% endfor %}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
  </div>

  <br><br>
  <div class = "next">
    <h4>
    <a href ="/toolbox">toolbox</a> | 
    <a href ="/contact">contact</a>
    </h4>
  </div>

</div>
