---
layout: default
title:
permalink: /
---

<div class="home">
		<div class = "mobileheadline row">
				<div class = "col col-12">
						<div class = "logo-large">
						</div>

						<div class = "site-headline">
							<h1>amalie barras</h1>
							<h4>data / design</h4>
						</div>
				</div>
		</div>

		<div id = "about">{% include 01_about.html %}</div>
		<div id = "work">{% include 02_work.html %}</div>
		<div id = "process">{% include process.html %}</div>
		<div id = "contact">{% include 05_contact.html %}</div>

</div>
