<div class = "row">
		<div class = "col col-12">
				<div class = "aboutjpg">
				</div>

				<div class = "abouttext">

					<h2><b>about</b></h2>
					<h3>hi! I'm amalie and I love data.</h3>
					<p>I love data because it tells us what's happening, drives consensus, and sets us up to create things that will have true impact.</P>

					<p>I started my career as a data analyst and I quickly fell in love with the process of deeply understanding my users' data needs and creating dashboards that met them where they were at. Over time I began to realize that they had a word for this process -- <i>design.</i> </p>

					<p>After doubling down on my design education, both formal and self-guided, I began applying these skills to civic projects with my local Code for America brigade, and then served as a research-focused UX Designer in the Design, Tech, and Innovation Fellows program at the City of Austin. I came to beautiful Boulder, Colorado in 2017 and was hired Cognizant as a Product Designer, but ended up helping to get the UX Research team off the ground here and growing that skillset. Today, I'm continuing to explore design as a UX Researcher on an awesome new team at Google, where I get to help shape a new product's direction through the use of data.</p>

					<p>When I’m not doing tech stuff, I like to sip coffee, challenge myself with overly ambitous craft projects, and spend time with my partner Alex and our pup Raea, frolicking in the sunshine. </p>
			</div>

	</div>
</div>
