<div class = "row">
		<div class = "col col-12">
				<div class = "aboutjpg">
				</div>

				<div class = "abouttext">

					<h2><b>about</b></h2>
					<p>howdy! I'm amalie. <a target = "new" href = "https://youtu.be/qYJcPT5sRvo?t=11">[pronunciation]</a></p>

					<img class = "aboutpic" src = "./images/aboutt.jpg"><br>

					<h3>I use data and design to make things better for humans.</h3>


					<p>I love data. It tells us what's happening, drives consensus, and sets us up to create things that will have true impact.</P>

					<p>I started my career as a data analyst and I quickly fell in love with the process of deeply understanding my users' data needs and creating dashboards that met them where they were at. Over time I began to realize that they had a word for this process -- <i>design.</i> </p>

					<p>I doubled down on my design education, both formal and self-guided, and began applying my new skills to volunteer projects with my local Code for America brigade. I landed an amazing full-time opportunity at the City of Austin and spent a year learning how research supercharges the design process. Life brought me to beautiful Colorado in 2017, where I worked at Cognizant Accelerator, bringing a data-informed lens to the design team and helping to advocate for and the UXR practice from 0 to 7 researchers. Today, I'm continuing to explore design as a UX Researcher on the Street View team at Google, where I get to help shape the product's direction through the use of data.</p>

					<p>When I’m not doing tech stuff, I like to drink coffee, challenge myself with craft projects, and spend time with my partner and our pups in the sunshine.</p>
			</div>

	</div>
</div>
