<div class = "row contact">

		<div class = "row">
			<h2><b>contact</b></h2>

					<div class = "invite">
							<div class = "col-12">
									<p>You've heard my story, now I'd love to hear yours. Let's make something awesome!</p>
									<div class = "illustration">
												<p> </p>
									</div>
									<br><br>
							</div>
					</div>

					<div class = "wufoo">
							<div class = "col">
									<iframe height="517" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://amaliebarras.wufoo.com/embed/z28m217lodol/"><a href="https://amaliebarras.wufoo.com/forms/z28m217lodol/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"></div>
							</div>
					</div>

		</div>
</div>
