<footer class="site-footer">

  <div class="row wrapper">
    <div class = "footerleft">
      <div class = "col"><p class = "footertext">Authored, layed out, and coded to life by Amalie Barras.</p>
      </div>
    </div>

    <div class = "footerright">
      <div class = "col">
        <span class = "icons">
            <p></p>
            <a href = "mailto:hello@amaliebarras.com"> <i class="fa fa-envelope" aria-hidden="true"></i></a>
            <a href = "http://twitter.com/amaliebarras"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href = "http://linkedin.com/in/amaliebarras"><i class="fa fa-linkedin" aria-hidden="true"></i>
            <a href = "http://github.com/amaliebarras"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href = "https://dribbble.com/AmalieBarras"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            <a href = "https://www.codepen.io/AmalieBarras"><i class="fa fa-codepen" aria-hidden="true"></i></a>
            <a href = "https://public.tableau.com/profile/amalie.barras#!/"><i class="fa fa-area-chart" aria-hidden="true"></i></a>
            <a href = "http://medium.com/@amaliebarras"><i class="fa fa-medium" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>
  </div>

</footer>
