<header class="site-header">
    <div class = "row">
      <div class = "menu">  
          <p>MENU</p>      
          <div class="trigger">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>
</header>

<script>
    $('.menu').click(function(){ 
    $('.trigger').slideToggle(700);
  });
</script>
