<div id = "process" class = "process">

    <h2>process</h2>

      <h3>research methods</h3>

      <div class ="methodpics row">
          <img class = "col-4" src ="./images/methodpics/interview.jpg">
          <img class = "col-4" src ="./images/methodpics/ideate.jpg">
          <img class = "col-4" src ="./images/methodpics/chart.jpg">
      </div>

      <div class ="methodlist row">
          <div class = "col-4">
              <ul>
                  <li>User Segmentation</li>
                  <li>In-depth Interviews</li>
                  <li>Contextual Inquiry</li>
                  <li>Remote Research</li>
                  <li>Unmoderated Studies</li>
                  <li>Usability Testing</li>
              </ul>
          </div>
          <div class = "col-4">
              <ul>
                  <li>Literature Review</li>
                  <li>Journey Mapping</li>
                  <li>Jobs-to-be-Done</li>
                  <li>Artifact Co-creation</li>
                  <li>Workshop Facilitation</li>
              </ul>
          </div>
          <div class = "col-3">
              <ul>
                  <li>Segmentation Analysis</li>
                  <li>Funnel Analysis </li>
                  <li>A/B Testing</li>
                  <li>Satisfaction Surveys</li>
                  <li>Data Visualization</li>
              </ul>
          </div>
      <div>

      <h3>research tools</h3>

      <div class = "toolcontent researchstack row">
            {% for info in site.data.researchstack %}
                  <div class = "skilltoolwrapper">
                      <a href = "{{ info.url }}">
                          <img class = "col-2" src ="{{ info.icon }}">
                          <div class ="col-10">
                              <h4>{{ info.title }}</h4> </a>
                              <p>{{ info.description }}</p>
                          </div>
                  </div>
            {% endfor %}
      </div>

      <h3>design methods</h3>

      <div class = "row">
          <div class = "col col-6">
              <ul>
                  <li>User Stories</li>
                  <li>Concepting</li>
                  <li>Wireframing</li>
                  <li>Low-Fidelity Prototyping</li>
              </ul>
          </div>
          <div class = "col col-6">
              <ul>
                  <li>Critique Sessions</li>
                  <li>User Flow Diagrams</li>
                  <li>Low-Fidelity Prototyping</li>
                  <li>CSS Implementation</li>
              </ul>
          </div>
      </div>

      <h3>design tools</h3>

      <div class = "toolcontent designstack row">
          {% for info in site.data.designstack %}
                <div class = "skilltoolwrapper">
                      <a href = "{{ info.url }}">
                          <img class = "col-2" src ="{{ info.icon }}">
                          <div class = "col-10">
                              <h4>{{ info.title }}</h4></a>
                              <p>{{ info.description }}</p>
                          </div>


                </div>
          {% endfor %}
      </div>

</div>
