---
layout: default
title: work
permalink: /
---

{% include title.html %}
<div class="work">


	<div class="pieces">
		<div class="row">
			  {% for info in site.data.work %}
				<div class="piece col-6">
					<div class="row">
						<div class="col-12">
							<a href = "{{ info.casestudy }}"><h3>{{ info.title }}</h3>
							<h5>{{ info.subtitle }}</h5></a>
						</div>
					</div>
					<div class="row">
						<div class="col-12 images">
							<a href = "{{ info.casestudy }}"><img src="{{ info.screenshot }}" /></a>
						</div>
						<div class="col-6">
							<div class="row links">
								<!-- <div class = "casestudy col">
								{% if info.casestudy %}
								<a target="_blank" href="{{ info.casestudy }}"><i class="fa fa-plus left" aria-hidden="true"></i>Case Study</a>
								{% endif %}
								</div>
								<div class = "ghurl col">
								{% if info.ghUrl %}
								<a target="_blank" href="{{ info.ghUrl }}"><i class="fa fa-github left" aria-hidden="true"></i>Docs & Code on Github</a>
								{% endif %}
								</div>
								<div class = "col">
								{% if info.liveUrl %}
								<a target="_blank" href="{{ info.liveUrl }}"><i class="fa fa-link liveurl" aria-hidden="true"></i>Live Project</a>
								{% endif %}
								</div> -->
							</div>
						</div>
					</div>
				</div>

			  {% endfor %}
		</div>
	</div>

	<h4>
		<a href ="/about">about</a> |
		<a href ="/toolbox">toolbox</a>
	</h4>

</div>
